body{
  font-family: "Microsoft Sans Serif", sans-serif ;
  background-color: black;
  color:darkgreen;
}
h1, h2, h3{
  text-align: center;
  text-decoration: underline ;
}
img{
  float: left;;
  position: absolute;
  left:30%;
  top: 0%;
  right:  auto;
  bottom: auto;
  clear: left;
}

section div{
  float:left;
  box-sizing:border-box ;
  width: calc(50% - (2*0.5%));
  height: 300px;
  padding: 1px;
  border: 3px solid rgb(3, 58, 1);
  margin: 0.5%;
  overflow: auto;
}

td{
  letter-spacing: 1px;
  text-align: center;
}
footer{
  text-align: center;
}
table {
  border-collapse: collapse;
}
input{
  background-color: black;
  color:darkgreen;
  background-color: black;
}
select{
  color:darkgreen;
  background-color: black;
}
button{
  background-color: black;
  color:darkgreen;
}
a{
  color:darkgreen;
}
th{
  padding: 3px; 
}
li{
  padding: 6px; 
}
fieldset{
  border: 3px solid rgb(3, 58, 1);
}
.foot{
  color:rgb(3, 58, 1) ;
}